// ZMK Core Includes
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#ifdef MOUSE_KEYS
#  include <dt-bindings/zmk/mouse.h>
#endif

#include "keymap-german-rev3.h"

// Layers
#define DEF 0
#define CDH 1
#define GME 2
#define NUM 3
#define FNC 4
#define SYM 5

#ifdef MOUSE_KEYS
#  define MSE 6
#endif

#ifdef TEST_LAYER
#  define TST 6
#endif

// Meh key
#define MEH      LS(LC(LALT)) 

// Desktop and tab navigation shortcuts
#define D_LT            LC(LG(LEFT))
#define D_RT            LC(LG(RIGHT))
#define TAB_RT          LC(TAB)
#define TAB_LT          LC(LS(TAB))
#define MOV_W_LT        LG(LS(LEFT))
#define MOV_W_RT        LG(LS(RIGHT))
#define TEAMS_HR        LC(LS(K))
#define TEAMS_TV        LC(LS(O))
#define TEAMS_TA        LC(LS(M))
#define PHT(key1, key2) &prefer_hold_tap key1 key2
#define HPT(key1, key2) &hold_prefer_tap key1 key2
#define HTB(key1, key2) &balanced_hold_tap key1 key2,

// Behaviors Constants
#define TAPPING_TERM_MS 280
#define QUICK_TAP_MS 175
#define GLOBAL_QUICK_TAP_MS 150

// Combos Constants
#define COMBO_TERM_DEFAULT 30
#define COMBO_QUICK_TAP_MS 100

#include "behaviors.dtsi"
#include "macros.dtsi"
#include "combos.dtsi"
