// ZMK Core Includes
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#if MOUSE_KEYS
#  include <dt-bindings/zmk/mouse.h>
#endif

// Layers
#define DEF 0
//#define CDH 1
//#define BuT 1
#define PUQ 1
#define GME 2
#define NUM 3
#define FNC 4
#define SYM 5

#if MOUSE_KEYS
#  define MSE 6
#endif

#define XXX &none
#define ___ &trans

// Meh key
#define MEH             LC(LS(LALT)) 

// Desktop and tab navigation shortcuts
#define D_LT            LC(LG(LEFT))
#define D_RT            LC(LG(RIGHT))
#define TAB_RT          LC(TAB)
#define TAB_LT          LC(LS(TAB))
#define MOV_W_LT        LG(LS(LEFT))
#define MOV_W_RT        LG(LS(RIGHT))
#define TEAMS_HR        LC(LS(K))
#define TEAMS_TV        LC(LS(O))
#define TEAMS_TA        LC(LS(M))
#define WIN_PREV        LS(TAB)

// Behaviors Constants
#define QUICK_TAP_MS 175

// Combos Constants
#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30
#define COMBO_TERM_DEFAULT 30
#define COMBO_QUICK_TAP_MS 100

#include "combos.dtsi"
#include "behaviors_old.dtsi"
//#include "dances.dtsi"
#include "macros.dtsi"

// Alpha layer: uncomment desired, comment the others
#include "../gauntlet/L0_qwertz.dtsi"
//#include "../gauntlet/L0_colemak_dhm.dtsi"
//#include "../gauntlet/L0_Buteck.dtsi"
#include "../gauntlet/L0_PUQ.dtsi"

// Other layers
#include "../gauntlet/L_GME.dtsi"
#include "../gauntlet/L_NUM.dtsi"
#include "../gauntlet/L_FNC.dtsi"
#include "../gauntlet/L_SYM.dtsi"

#if MOUSE_KEYS
#include "../gauntlet/L_MSE.dtsi"
#endif

// #include "chords_en_qwertz.dtsi"