/* Copied (modified) from https://github.com/caksoylar/zmk-config */
#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP) \
  combo_##NAME { \
    timeout-ms = <TERM>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    global-quick-tap-ms = <QUICKTAP>; \
  };

/ {
  combos {
    compatible = "zmk,combos";
    /*
      KEY POSITIONS
      ╭────────────────────────╮  ╭────────────────────────╮
      │ 0   1   2   3   4   5  │  │ 6   7   8   9   10  11 │ 
      │ 12  13  14  15  16  17 │  │ 18  19  20  21  22  23 │
      │ 24  25  26  27  28  29 │  │ 30  31  32  33  34  35 │
      ╰───────────╮ 36  37  38 │  │ 39  40  41 ╭───────────╯
                  ╰────────────╯  ╰────────────╯
    */

    /* Layers */
    COMBO(to_gaming , &to GME      ,  0 38    , DEF             , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(to_base   , &to DEF      ,  12 37   ,     NUM     GME , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)

    COMBO(auml      , &kp DE_AE    ,  1 13    , DEF NUM         , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(ouml      , &kp DE_OE    ,  9 21    , DEF NUM         , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(uuml      , &kp DE_UE    ,  7 19    , DEF NUM         , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(de_ss     , &kp DE_SS    ,  2 14    , DEF NUM         , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)

    /* Bluetooth */
    COMBO(bt_clear  , &bt BT_CLR   , 1 2 3 4  ,         FNC     , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(bt_sel_0  , &bt BT_SEL 0 , 1 13     ,         FNC     , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(bt_sel_1  , &bt BT_SEL 1 , 2 14     ,         FNC     , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(bt_sel_2  , &bt BT_SEL 2 , 3 15     ,         FNC     , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(bt_sel_3  , &bt BT_SEL 3 , 4 16     ,         FNC     , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(bt_sel_4  , &bt BT_SEL 4 , 5 17     ,         FNC     , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)

    /* Media */
    COMBO(play      , &kp C_PP     , 6 7      , DEF NUM FNC GME , COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)

    /* Symbols */
    // Left
    /*
    COMBO(excl, &kp DE_EXCL, 1 13, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(at, &kp DE_AT, 2 14, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(hash, &kp DE_HASH, 3 15, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(dollar, &kp DE_DLLR, 4 16, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(percent, &kp DE_PRCNT, 5 17, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(caret, &kp DE_CARET, 13 25, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(ampersand, &kp DE_AMPS, 14 26, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(star, &kp DE_STAR, 15 27, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(lpar, &kp DE_LPAR, 16 28, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(rpar, &kp DE_RPAR, 17 29, L1, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    */
      // Right
    /*    
    COMBO(minus, &kp DE_MINUS, 7 19, L1 L2 Fn, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(equal, &kp DE_EQUAL, 8 20, L1 L2 Fn, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(semicolon, &kp DE_SEMI, 9 21, L1 L2 Fn, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(lbkt, &kp DE_LBKT, 19 31, L1 L2 Fn, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(rbkt, &kp DE_RBKT, 20 32, L1 L2 Fn, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    COMBO(backslash, &kp DE_BSLH, 21 33, L1 L2 Fn, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    */
  };
};
