#define STRATA     &kp LCTRL
#define HD_UP      &kp W
#define HD_DOWN    &kp S
#define HD_LEFT    &kp A
#define HD_RIGHT   &kp D

/*
macros {
    resupply: resupply {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings = <&macro_tap STRATA HD_DOWN HD_DOWN HD_UP HD_RIGHT>;
    };
};
*/

#define HD2_STRATAGEM(name, layout) \
    / { \
        macros { \
            name: name { \
                compatible = "zmk,behavior-macro"; \
                #binding-cells = <0>; \
                wait-ms = <50>; \
                tap-ms = <50>; \
                bindings = <&macro_tap STRATA layout>; \
            }; \
        }; \
    };

////////////////////////////////
//
// Mission Stratagems
//

// Resupply
HD2_STRATAGEM(resupply,HD_DOWN HD_DOWN HD_UP HD_RIGHT)
// Reinforce
HD2_STRATAGEM(reinforce,HD_UP HD_UP HD_RIGHT HD_LEFT HD_UP)

////////////////////////////////
//
// Supply: Backpacks
//

// AX/LAS-5 "Guard Dog" Rover
HD2_STRATAGEM(gd_rover, HD_DOWN HD_UP HD_LEFT HD_UP HD_RIGHT HD_RIGHT)
// LIFT-850 Jump Pack
HD2_STRATAGEM(jumppack, HD_DOWN HD_UP HD_UP HD_DOWN HD_UP)
// B-1 Supply Pack
HD2_STRATAGEM(suppack, HD_DOWN HD_LEFT HD_DOWN HD_UP HD_UP HD_DOWN)
// SH-32 Shield Generator Pack
HD2_STRATAGEM(shieldgen, HD_DOWN HD_UP HD_LEFT HD_RIGHT HD_LEFT HD_RIGHT)
// SH-20 Ballistic Shield Backpack
HD2_STRATAGEM(balshield, HD_DOWN HD_LEFT HD_DOWN HD_DOWN HD_UP HD_LEFT)

////////////////////////////////
//
// Supply: Support Weapons
//

// Flamethrower
HD2_STRATAGEM(flamethrower, HD_DOWN HD_LEFT HD_UP HD_DOWN HD_UP)
// MG-43 Machine Gun
HD2_STRATAGEM(machinegun, HD_DOWN HD_LEFT HD_DOWN HD_UP HD_RIGHT)
// M-105 Stalwart
HD2_STRATAGEM(stalwart, HD_DOWN HD_LEFT HD_DOWN HD_UP HD_UP HD_LEFT)
// GL-21 Grenade Launcher
HD2_STRATAGEM(grenade, HD_DOWN HD_LEFT HD_UP HD_LEFT HD_DOWN)

////////////////////////////////
//
// Defensive Stratagems
//

// A/M-12 Mortar Sentry
HD2_STRATAGEM(sen_a_m12, HD_DOWN HD_UP HD_RIGHT HD_RIGHT HD_DOWN)
// FX-12 Shield Generator Relay
HD2_STRATAGEM(shieldgen, HD_DOWN HD_DOWN HD_LEFT HD_RIGHT HD_LEFT HD_RIGHT)
// A/G-16 Gatling Sentry
HD2_STRATAGEM(gatling, HD_DOWN HD_UP HD_RIGHT HD_LEFT)

////////////////////////////////
//
// Offensive: Orbital
//

// Orbital Precision Strike
HD2_STRATAGEM(orb_prestr, HD_RIGHT HD_RIGHT HD_UP)

////////////////////////////////
//
// Offensive: Eagle
//

// Eagle Airstrike
HD2_STRATAGEM(eagle_as, HD_UP HD_RIGHT HD_DOWN HD_RIGHT)
// Eagle 500kg Bomb
HD2_STRATAGEM(eagle_500, HD_UP HD_RIGHT HD_DOWN HD_DOWN HD_DOWN)