/**
 * Alpha Layer - ANYMAK
 */

#define HML_MEH_COMMA &hml_meh_comma MEH 0
ZMK_BASE_LAYER(Any,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp Q           &kp K           &kp O           &kp U           &kp Y          ,    &kp V           &kp D           &kp C           &kp L           &kp F           &kp K_CANCEL   ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bs_del         &hml LCMD H     &hml LALT A     &hml LCTRL E    &hml LSHFT I    HML_MEH_COMMA  ,    &hmr MEH G      &hmr RSHFT T    &hmr LCTRL R    &hmr LALT N     &hmr LCMD S     &kp ENTER      ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &sl SYS         &qexcl          &hml RALT Z     &kp SQT         &dot_morph      &kp X          ,    &kp B           &kp P           &kp M           &hmr RALT W     &kp J           &sl SYS        ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &lt SYS TAB     &lt_spc FNR 0   &lt NUM RET    ,    SMART_NUM       MAGIC_SHIFT     &mo SYS
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
