/**
 * Alpha Layer - BuT - Bu-Teck
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    layer_def_adnw {
      label = "BuT";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//  0               1               2               3               4               5                   6               7               8               9               10              11
    &kp ESC         &kp B           &kp U           &kp DOT         &kp COMMA       &kp DE_UE           &kp P           &kp C           &kp L           &kp M           &kp F           &kp X
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  12              13              14              15              16              17                  18              19              20              21              22              23
    &bkspc_del      &mt LCTRL H     &mt LALT I      &mt LCMD E      &mt MEH A       &kp O               &kp D           &mt MEH T       &mt RCMD R      &mt RALT N      &mt RCTRL S     &kp DE_SS
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  24              25              26              27              28              29                  30              31              32              33              34              35
    &csl FNC        &mt RCTRL K     &mt RALT DE_Y   &mt RCMD DE_OE  &kp DE_AE       &kp Q               &kp J           &kp G           &mt LCMD W      &mt LALT V      &mt LCTRL DE_Z  &csl FNC
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                  36              37              38                  39              40              41
                                                    &lt SYM TAB     &mt LSHFT SPACE &lt NUM ENTER       &smart_num NUM 0 &smart_shift   &lt SYM ENTER
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};


