/**
 * Alpha Layer - Hands Down - Promethium
 */

#define HML_MEH_COMMA &hml_meh_comma MEH 0
#define HML_RALT_MINUS &hml_ralt_minus RALT 0
ZMK_BASE_LAYER(Prom,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp B           &kp Y           &kp O           &kp U           &kp Z          ,    &kp X           &kp L           &kp D           &kp P           &kp F           &kp K_CANCEL   ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bs_del         &hml LCMD C     &hml LALT A     &hml LCTRL E    &hml LSHFT I    HML_MEH_COMMA  ,    &hmr MEH K      &hmr RSHFT H    &hmr LCTRL T    &hmr LALT N     &hmr LCMD S     &kp ENTER      ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &to ALT         &qexcl          HML_RALT_MINUS  &kp SQT         &dot_morph      &kp Q          ,    &kp J           &ak_m      &kp G           &hmr RALT W     &kp V           &to ALT        ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &lt SYS TAB     &lt_spc FNR 0   &lt NUM RET    ,    SMART_NUM       MAGIC_SHIFT     &kp R
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
