/**
 * Alpha Layer - Hands Down - Promethium
 */

#define MAGIC_KEY &ak_magic
#define HML_LSHFT_THORN &hml_lshft_thorn LSHFT 0

ZMK_BASE_LAYER(Vibranium,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp Z           &kp P           &kp O           &kp U           &kp SQT        ,    MAGIC_KEY       &thorn          &kp L           &kp G           &kp V           &kp K_CANCEL   ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bs_del         &hml LCMD H     &hml LALT A     &hml LCTRL E    &hml LSHFT I    &hml MEH K     ,    &hmr MEH M      &hmr RSHFT T    &hmr LCTRL N    &hmr LALT S     &hmr LCMD C     &kp ENTER      ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &to ALT         &qexcl          &dot_morph      &comma_morph    &kp Y           &kp J          ,    &kp B           &kp D           &kp W           &kp F           &kp X           &to ALT        ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &lt SYS TAB     &lt_spc FNR 0   &lt NUM RET    ,    SMART_NUM       &kp R           MAGIC_SHIFT
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
