/**
 * Alpha Layer - PUQ
 */

ZMK_LAYER(puq,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp P           &kp U           &qexcl          &sdq            &kp Q               &kp G           &kp C           &kp L           &kp M           &kp F           &kp K_CANCEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bkspc_del      &hml LCMD H     &hml LALT I     &hml LCTRL E    &hml LSHFT A    &hml MEH O          &hml MEH D      &hmr RSHFT T    &hmr LCTRL R    &hmr LALT N     &hmr LCMD S     &kp ENTER
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &sl FNC         &kp K           &kp DE_Y        &kp DOT         &kp COMMA       &kp X               &kp J           &kp V           &kp W           &kp B           &kp DE_Z        &sl FNC
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &lt SYM TAB     &lt_spc FNC 0   &lt NUM RET         SMART_NUM       &smart_shift    &mo SYM
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
