/**
 * Alpha Layer - PUQ
 */

ZMK_LAYER(puq,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp P           &kp U           &qexcl          &kp COMMA       &kp Q               &kp G           &kp C           &kp L           &kp M           &kp F           &kp K_CANCEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bkspc_del      &hml LCTRL H    &hml LALT I     &hml LCMD E     &hml MEH A      &kp O               &kp D           &hmr MEH T      &hmr LCMD R     &hmr LALT N     &hmr LCTRL S    &kp ENTER
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &sl FNC         &kp K           &kp DE_Y        &kp DOT         &sdq            &kp X               &kp J           &kp V           &kp W           &kp B           &kp DE_Z        &sl FNC
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &hml TAB SYM    &mt LSHFT SPACE SMART_NUM           SMART_NUM       &smart_shift    &mo SYM
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
