/**
 * Alpha Layer - PUQ
 */

ZMK_LAYER(puq,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &hpt RCTRL P    &hpt RALT U     &smm RCMD 0     &kp COMMA       &kp Q               &kp G           &kp C           &hpt RCMD L     &hpt RALT M     &hpt RCTRL F    &kp K_CANCEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bkspc_del      &hpt LCTRL H    &hpt LALT I     &hpt LCMD E     &hpt MEH A      &kp O               &kp D           &hpt MEH T      &hpt LCMD R     &hpt LALT N     &hpt LCTRL S    &kp ENTER
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &csl FNC        &kp K           &kp DE_Y        &kp DOT         &sd_quotes      &kp X               &kp J           &kp V           &kp W           &kp B           &kp DE_Z        &csl FNC
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &hrl SYM TAB    &mt LSHFT SPACE &smart_num NUM 0    &smart_num NUM 0 &smart_shift   &hrl SYM ENTER
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
