/**
 * Alpha Layer - QWERTZ
 */

ZMK_LAYER(base,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp Q           &kp W           &kp E           &kp R           &kp T               &kp DE_Z        &kp U           &kp I           &kp O           &sd_quotes      &kp K_CANCEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bkspc_del      &hml LCTRL A    &hml LALT S     &hml LCMD D     &hml MEH F      &kp G               &kp H           &hml MEH J      &hml LCMD K     &hml LALT L     &hml LCTRL      &kp ENTER
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &csl FNC        &kp DE_Y        &kp X           &kp C           &kp V           &kp B               &kp N           &kp M           &kp COMMA       &kp DOT         &qe_mark        &csl FNC
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &hml SYM TAB    &lt_spc SYM    &lt FNC RET          SMART_NUM       &smart_shift    &mo SYM
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
