/**
 * Numeric, Navigation and Media Controls Layer
 */

// Desktop and tab navigation shortcuts
#define D_LT   LC(LG(LEFT))
#define D_RT   LC(LG(RIGHT))
#define TAB_RT LC(TAB)
#define TAB_LT LC(LS(TAB))
/ {
  keymap {
    compatible = "zmk,keymap";

    layer_1 {
      label = "L1";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//  0               1               2               3               4               5                   6               7               8               9               10              11
    &trans          &kp PG_UP       &kp HOME        &kp UP          &kp END         &kp INS             &kp C_PREV      &kp C_VOL_DN    &kp C_VOL_UP    &kp C_NEXT      &kp C_MUTE      &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  12              13              14              15              16              17                  18              19              20              21              22              23
    &trans          &kp PG_DN       &kp LEFT        &kp DOWN        &kp RIGHT       &kp END             &trans          &kp D_LT        &kp TAB_LT      &kp TAB_RT      &kp D_RT        &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  24              25              26              27              28              29                  30              31              32              33              34              35
    &trans          &kp TAB_LT      &kp LA(F4)      &kp LC(F4)      &kp TAB_RT      &trans              &kp LC(Z)       &kp LC(X)       &kp LC(C)       &kp LC(INS)     &kp LC(Y)          &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                  36              37              38                  39              40              41
                                                    &trans          &trans          &cmo L1             &cmo L1         &kp N0          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
