/**
 * Numbers and Navigation Layer
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    layer_1 {
      label = "NUM";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//  0               1               2               3               4               5                   6               7               8               9               10              11
    &trans          &kp PG_UP       &kp HOME        &kp UP          &kp END         &kp INS             &kp DE_SLASH    &kp N7          &kp N8          &kp N9          &kp DE_MINUS    &kp C_AL_CALC
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  12              13              14              15              16              17                  18              19              20              21              22              23
    &trans          &kp PG_DN       &kp LEFT        &kp DOWN        &kp RIGHT       &trans              &kp DE_STAR     &kp N4          &kp N5          &mt LALT N6     &kp DE_PLUS     &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  24              25              26              27              28              29                  30              31              32              33              34              35
    &trans          &kp TAB_LT      &kp MOV_W_LT    &trans          &kp MOV_W_RT    &kp TAB_RT          &trans          &mt MEH N1      &mt RCMD N2     &mt RALT N3     &mt RCTRL DE_EQUAL &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                  36              37              38                  39              40              41
                                                    &trans          &kp LSHFT       &cmo NUM            &cmo NUM        &kp N0          &comma_dance
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
