/**
 * Gaming Layer
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    layer_9 {
      label = "TST";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//  0               1               2               3               4               5                   6               7               8               9               10              11
    &trans          &trans          &trans          &trans          &trans          &to DEF              &trans          &trans          &trans          &trans          &trans          &trans         
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  12              13              14              15              16              17                  18              19              20              21              22              23
    &trans          &lt FNC B       &ht_tosl FNC B  &csl FNC        &trans          &trans              &trans          &trans          &trans          &trans          &trans          &trans          
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  24              25              26              27              28              29                  30              31              32              33              34              35
    &trans          &lt SYM TAB     &ht_tosl SYM TAB &csl SYM       &trans          &trans              &trans          &trans          &trans          &trans          &trans          &trans          
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 36              37              38                  39              40              41
                                                    &lt SYM TAB     &lt FNC B       &trans              &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};