/**
 * Function / System Layer / Media Controls
 */

ZMK_LAYER(Func,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &out OUT_TOG    ___             &kp C_BRI_DN    &kp C_BRI_UP    &kp C_VOL_DN    &kp C_VOL_UP        &kp TEAMS_HR    &kp F7          &kp F8          &kp F9          &kp F10         &kp C_POWER
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bootloader     &kp LC(DE_Z)    &kp LC(DE_Y)    &kp LC(INS)     &kp C_PREV      &kp C_NEXT          &kp TEAMS_TA    &kp F4          &kp F5          &kp F6          &kp F11         &bootloader
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             ___             ___             &kp LC(X)       &kp LS(INS)     ___                 &kp TEAMS_TV    &kp F1          &kp F2          &kp F3          &kp F12         &ext_power EP_TOG
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &sys_reset      ___             &to DEF             &to DEF         ___             &sys_reset     
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)