/**
 * Function / System Layer / Media Controls
 */

ZMK_LAYER(fnc,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &out OUT_TOG    &kp F10         &kp F7          &kp F8          &kp F9          &kp TEAMS_HR        &kp C_VOL_UP    &kp C_PREV      &trans          &trans          &trans          &kp C_POWER
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bootloader     &kp F11         &kp F4          &kp F5          &kp F6          &kp TEAMS_TA        &kp C_VOL_DN    &kp C_NEXT      &trans          &trans          &trans          &bootloader
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &sys_reset      &kp F12         &kp F1          &kp F2          &kp F3          &kp TEAMS_TV        &kp LC(DE_Z)    &kp LC(X)       &kp LC(INS)     &kp LS(INS)     &kp LC(DE_Y)    &sys_reset
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &kp C_BRI_DN    &kp C_BRI_UP    &to DEF             &to DEF         &kp CAPSLOCK    &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)