/**
 * Function / System Layer / Media Controls
 */

ZMK_LAYER(fnr,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    ___             ___             &kp F7          &kp F8          &kp F9          &kp F11             &kp C_VOL_UP    &kp C_PREV      ___             ___             ___             &kp C_POWER
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             ___             &kp F4          &kp F5          &kp F6          &kp F10             &kp C_VOL_DN    &kp C_NEXT      ___             ___             ___             ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             ___             &kp F1          &kp F2          &kp F3          &kp F12             &kp LC(DE_Z)    &kp LC(X)       &kp LC(INS)     &kp LS(INS)     &kp LC(DE_Y)    ___
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    ___             ___             ___                 ___             ___             ___   
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)