/**
 * Gaming Number Layer
 */

ZMK_BASE_LAYER(Gme_num,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    _X_             &kp N0          &kp N1          ___             &kp N2          &kp N3         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &kp N4          ___             ___             ___             &kp N5         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &kp N6          &kp N7          _X_             &kp N8          &kp N9         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    _X_             _X_             _X_            ,    _X_             _X_             _X_ 
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
