/**
 * Gaming Number Layer
 */

ZMK_BASE_LAYER(Gme_num,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    _X_             _X_             &kp N1          ___             &kp N2          &kp N4         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &kp N3          ___             ___             ___             &kp N5         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &kp N6          &kp N7          &kp N8          &kp N9          &kp N0         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    _X_             _X_             _X_            ,    _X_             _X_             _X_ 
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
