/**
 * Gaming Number Layer
 */

ZMK_BASE_LAYER(Gme_fnr,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    _X_             &kp F0          &kp F1          ___             &kp F2          &kp F3         ,    _X_             &kp F7          &kp F8          &kp F9          _X_             _X_            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &kp F4          ___             ___             ___             &kp F5         ,    &kp F0          &kp F4          &kp F5          &kp F6          &kp F0          _X_            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &kp F6          &kp F7          _X_             &kp F8          &kp F9         ,    _X_             &kp F1          &kp F2          &kp F3          _X_             _X_            ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    _X_             _X_             _X_            ,    _X_             &kp LSHFT       _X_ 
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
