/**
 * Gaming Number Layer
 */

ZMK_BASE_LAYER(Gme_num,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    _X_             &kp N1          &kp N2          ___             &kp N3          &kp N4         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &kp N5          ___             ___             ___             &kp N6         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &kp N7          &kp N8          _X_             &kp N9          &kp N0         ,    _X_             _X_             _X_             _X_             _X_             _X_            ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    _X_             _X_             _X_            ,    _X_             _X_             _X_ 
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
