/**
 * Gaming Layer
 */

ZMK_LAYER(gme,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp T           &kp ESC         &kp Q           &kp W           &kp E           &kp R               &kp DE_Y        &kp U           &kp I           &kp O           &sdq            &kp K_CANCEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &kp G           &kp LSHFT       &kp A           &kp S           &kp D           &kp F               &kp H           &kp J           &kp K           &kp L           &kp P           &kp ENTER
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &lt FNC B       &kp LCTRL       &kp DE_Z        &kp X           &kp C           &kp V               &kp N           &kp M           &kp COMMA       &kp DOT         &qexcl          &to FNC
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &mt LALT TAB   &mt LCTRL SPACE  &mt LSHFT RET       SMART_NUM       &smart_shift    &kp RET
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)