/**
 *  HD2 Layer
 */

ZMK_LAYER(hd2,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    ___             &flamethrower   &gatling        &grenade        &gd_rover       &reinforce          ___             ___             ___             ___             ___             ___             
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             &orb_laser      &sen_ems        &shieldgen      &eagle_as       &resupply           ___             ___             ___             ___             ___             ___             
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             &orb_rcs        &sen_a_m12      &arc            &eagle_500      &hellbomb           ___             ___             ___             ___             ___             ___             
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    ___             ___             ___                 ___             ___             ___   
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)