/**
 *  Mouse Layer
 */

ZMK_LAYER(MSE,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    XXX             XXX             XXX             XXX             XXX             XXX                 &mwh S_LEFT     &mwh S_DOWN     &mmv M_UP       &mwh S_UP       &mwh S_RIGHT    &to DEF
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    XXX             &kp LCTRL       &kp LCMD        &kp LALT        &kp LSHFT       XXX                 XXX             &mmv M_LEFT     &mmv M_DOWN     &mmv M_RIGHT    XXX             XXX   
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    XXX             XXX             XXX             XXX             XXX             XXX                 XXX             &mkp MB4        &mkp MB5        &mkp MB6        XXX             XXX             
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    XXX             XXX             XXX                 &mkp LCLK       &mkp MCLK       &mkp RCLK        
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)