/**
 * Numbers and Navigation Layer
 */

ZMK_LAYER(NUM,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &trans          &kp PG_UP       &kp HOME        &kp UP          &kp END         &kp WIN_PREV        &kp DE_FSLH     &kp N7          &kp N8          &kp N9          &kp DE_MINUS    &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &kp D_LT        &kp PG_DN       &kp LEFT        &kp DOWN        &kp RIGHT       &swapper            &kp DE_STAR     &mt MEH N4      &mt RCMD N5     &mt RALT N6     &mt RCTRL DE_PLUS &kp C_AL_CALC 
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &kp D_RT        &kp TAB_LT      &kp MOV_W_LT    &kp LA(F4)      &kp MOV_W_RT    &kp TAB_RT          &trans          &kp N1          &kp N2          &mt LALT N3     &kp DE_EQUAL    &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &trans          &kp LSHFT       &cmo NUM            &cmo NUM        &kp N0          &th DOT COMMA
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
