/**
 * Numbers and Navigation Layer
 */

ZMK_BASE_LAYER(num,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    ___             ___             &kp N7          &kp N8          &kp N9          &kp WIN_PREV   ,    &kp MOV_W_LT    NAV_BSPC        NAV_DEL         &kp MOV_W_RT    ___             ___            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             &hml LCMD N0    &hml LALT N4    &hml LCTRL N5   &hml LSHFT N6   &swapper       ,    NAV_LEFT        NAV_DOWN        NAV_UP          NAV_RIGHT       ___             ___            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             ___             &hml RALT N1    &kp N2          &kp N3          ___            ,    &kp TAB_LT      &kp PG_DN       &kp PG_UP       &kp TAB_RT      ___             ___            ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    ___             ___             CANCEL         ,    ___             ___             ___
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
