/**
 * Symbols Layer
 */

ZMK_BASE_LAYER(sym,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    ___             &kp CARET       &kp PRCNT       &kp DLLR        &kp RA(N5)      &kp STAR       ,    &kp CARET       &kp TILDE       &ndk_sqt        &ndk_dqt        &kp GRAVE       ___            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             &kp LT          &kp LBRC        &kp LBKT        &kp LPAR        &kp FSLH       ,    &kp BSLH        &kp RPAR        &kp RBKT        &kp RBRC        &kp GT          ___            ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    ___             &kp EXCL        &kp AT          &kp HASH        &kp AMPS        &kp PIPE       ,    &kp UNDER       &kp MINUS       &kp EQUAL       &kp PLUS        &kp QMARK       ___            ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    ___             ___             ___            ,    ___             ___             ___   
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
