/**
 * Alpha Layer - EnDeu
 */ 

ZMK_BASE_LAYER(EnDeu,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp Q           &dot_morph      &kp O           &kp U           &kp Y          ,    &kp V           &kp D           &kp C           &kp L           &kp F           &kp BSLH       ,
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bs_del         &hml LCMD H     &hml LALT A     &hml LCTRL D    &hml LSHFT E    &comma_morph   ,    &hmr MEH G      &hmr RSHFT T    &hmr LCTRL R    &hmr LALT N     &hmr LCMD S     &kp J          ,
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &kp SQT         &kp K           &slash_morph    &kp MINUS       &kp SEMICOLON   &kp X          ,    &kp B           &kp P           &kp M           &kp W           &kp Z           &kp RET        ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &lt SYS TAB     &lt_spc FNR 0   &lt NUM RET    ,    SMART_NUM       MAGIC_SHIFT     &mo SYS        
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
