/**
 * Alpha Layer - Hands Down - Promethium
 */

/* #define MAGIC_KEY &ak_magic */

ZMK_BASE_LAYER(Enthium,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp B           &kp Y           &kp O           &kp U           &kp EQUAL      ,    &kp X           &kp L           &kp D           &kp W           &kp Z           &kp K_CANCEL   ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &kp Q           &hml LCMD C     &hml LALT A     &hml LCTRL E    &hml LSHFT I    &minus_morph   ,    &hmr MEH K      &hmr RSHFT H    &hmr LCTRL T    &hmr LALT N     &hmr LCMD S     &kp V          ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &to ALT         &kp SQT         &comma_morph    &dot_morph      &slash_morph    &kp BACKSLASH  ,    &kp J           &kp M           &kp G           &kp P           &kp V           &to ALT        ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &lt SYS TAB     &lt_spc FNR 0   &lt NUM RET    ,    SMART_NUM       &kp R           MAGIC_SHIFT
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
