/**
 * Alpha Layer - Hands Down - Promethium
 */

#define MAGIC_KEY &ak_magic
#define HML_LSHFT_THORN &hml_lshft_thorn LSHFT 0

ZMK_BASE_LAYER(Infinity,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp Z           &kp P           &kp O           &kp U           &kp SQT        ,    MAGIC_KEY       &thorn          &kp L           &kp G           &kp V           &kp K_CANCEL   ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bs_del         &hml LCMD H     &hml LALT A     &hml LCTRL E    &hml LSHFT I    &hml MEH K     ,    &hmr MEH Y      &hmr RSHFT D    &hmr LCTRL R    &hmr LALT T     &hmr LCMD S     &kp ENTER      ,
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &to ALT         &qexcl          &dot_morph      &comma_morph    &kp Y           &kp J          ,    &kp W           &kp G           &kp J           &kp K           &kp Z           &to ALT        ,
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &lt SYS TAB     &lt_spc FNR 0   &lt NUM RET    ,    MAGIC_KEY       &kp N           MAGIC_SHIFT
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
