/**
 * Function / System Layer / Media Controls
 */

ZMK_BASE_LAYER(fnc,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    _X_             _X_             &kp C_PREV      &kp C_VOL_UP    &kp C_NEXT      &kp C_PP            &kp TEAMS_HR    &kp F7          &kp F8          &kp F9          &kp F10         _X_
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             &sk LCMD        &sk LALT        VOL_DOWN        &sk LSHFT       VOL_MUTE            &hmr MEH TEAMS_TA &hmr RSHFT F4 &hmr LCTRL F5   &hmr LALT F6    &hmr LCMD F11   _X_
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    _X_             _X_             DSK_PREV        _X_             DSK_NEXT        _X_                 &kp TEAMS_TV    &kp F1          &kp F2          &kp F3          &kp F12         _X_
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    ___             ___             ___                 ___             &key_repeat     ___            
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
