/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define MOUSE_KEYS
#define CONFIG_WIRELESS

//#include "../zmk-nodefree-config/helper.h"
#include "../zmk-helpers/include/zmk-helpers/key-labels/42.h"

//#include "../gauntlet/keymap-german-rev3.h"
#include "../gauntlet/base.dtsi"


